{% extends 'base.html' %} {% block content%}

<h1>Building Details</h1>

<div class="card">
    <a href="{% url 'building_detail' buildings.id %}">
        <div class="card-content">
            <span class="card-title">
                {{buildings.name}}
            </span>
        </div>
        <p>brand {{buildings.brand}}</p>
    </a>
    <div class="card-action">
        <a href="{% url 'car_update' cars.id%}">edit</a>
        <a href="{% url 'car_delete' cars.id%}">Delete</a>
    </div>
</div>

{% endblock %}