{% extends 'base.html' %} {% block content%}

<h1>{{cars.name}}</h1>

<div class="card">
    <div class="card-content">
        <a href="{% url 'car_detail' cars.id %}">
            <p>brand: {{cars.brand}}</p>
            {{cars.trim}}
            {{cars.date}}
            {{description}}
        </a>
    </div>
        <div class="card-action">
            <a href="{% url 'car_update' cars.id%}">edit</a>
            <a href="{% url 'car_delete' cars.id%}">Delete</a>
        </div>   
</div>

{% endblock %}