{% extends 'base.html' %} {% block content%}


<a href="{% url 'character_detail' characters.id %}">
<h1>{{characters.name}} Details</h1>
</a>
<div class="row">
    <div class="card">
        <div class="card-image">
            <img src="{{characters.photo_url}}" alt=""/>
        </div>
        <div class="card-content">
            <h6>Date Created:{{characters.date}}</h6>
            <p>Description: {{characters.description}}</p>
        </div>
        <div class="card-action">
            <a href="{% url 'character_update' characters.id%}">edit</a>
            <a href="{% url 'character_delete' characters.id%}">Delete</a>
        </div>
    </div>
</div>

{% endblock %}