{% extends 'base.html' %} {% block content%}
<a href="{% url 'environment_detail' environments.id %}">
<h1>{{environments.name}} Details</h1>
</a>
<div class="row">
    <div class="card">
        <div class="card-image">
            <img src="{{environments.photo_url}}" alt=""/>
        </div>
        <div class="card-content">
            <h6>Date Created:{{environments.date}}</h6>
            <p>Description: {{environments.description}}</p>
        </div>
        <div class="card-action">
            <a href="{% url 'environment_update' environments.id%}">edit</a>
            <a href="{% url 'environment_delete' environments.id%}">Delete</a>
        </div>
    </div>
</div>

{% endblock %}