{% extends 'base.html' %} {% block content%}

<h1>environment Details</h1>

<div class="card">
    <a href="{% url 'environment_detail' environments.id %}">
        <div class="card-content">
            <span class="card-title">
                {{environmentss.name}}
            </span>
        </div>
        <p>brand {{environments.brand}}</p>
    </a>
    <div class="card-action">
        <a href="{% url 'environments_update' environmentss.id%}">edit</a>
        <a href="{% url 'environments_delete' environmentss.id%}">Delete</a>
    </div>
</div>

{% endblock %}