{% extends 'base.html' %} {% block content %} 
<form action="" method="POST">
    {% csrf_token %} 
    <table>
        {{form.as_table}}
    </table>
    <input type="submit" value="Submit" class="'btn">
</form>

<script>
    const dateEl = document.getElementById('id_date')
    M.Datepicker.init(dateEl, {
        defaultDate: new Date(),
        setDefaultDate: true,
        AutoClose: true,
    })

    const selectEl = document.getElementById('id_purpose')
    M.FormSelect.init(selectEl)
</script>

{% endblock %}

