{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=ssedge" />
    <title>RenderRealms</title>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}?"{% now "U" %}/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  <body>
    <header class="navbars-fixed">
      <nav>
        <div class="nav-wrapper">
          <ul id="slide-out" class="sidenav">
            {% if user.is_authenticated %}
            <li><div class="user-view">
              <div class="background">
                <img src="images/office.jpg">
              </div>
              <a href="#email"><span class="white-text email">{{user}}</span></a>
            </div></li>
            {% endif %}
            <ul id="dropdown1" class="dropdown-content">
              <li><a href="{% url 'car_create' %}">Cars</a></li>
              <li><a href="{% url 'character_create' %}">Characters</a></li>
              <li><a href="{% url 'environment_create' %}">Environments</a></li>
            </ul>
            <ul id="dropdown2" class="dropdown-content">
              <li><a href="{% url 'car_index' %}">Cars</a></li>
              <li><a href="{% url 'character_index' %}">Characters</a></li>
              <li><a href="{% url 'environment_index' %}">Environments</a></li>
            </ul>
            <ul class="right">
              <li><a href="/">Home</a></li>
              <li><a href="{% url 'about' %}">About</a></li>
              <li><a href="{% url 'index' %}">Projects</a></li>   
              {% if user.is_authenticated %}
              <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Add Assets</a></li>
              <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">see Assets</a></li>
              <li><a href="{% url 'project_create' %}">Create Project</a></li>
              <li><a href="{% url 'logout' %}">LogOut</a></li> 
              {% else %}
              <li><a href="{% url 'login' %}">Login</a></li>
              <li><a href="{% url 'signup' %}">Sign up</a></li>
              {% endif %}
            </ul>
          </ul>
          <a href="#" data-target="slide-out" class="brand-logo sidenav-trigger">RenderRealms</a>

        </div>
      </nav>
    </header>
    <main class="container">{% block content %} {% endblock %}</main>
    <footer class="page-footer goldenrod lighten-1">
      <div class="center">
        All Rights Reserved, &copy; 2023 FenderBlender &nbsp;
      </div>
    </footer>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        const elems = document.querySelectorAll('.dropdown-trigger');
        const instances = M.Dropdown.init(elems, {coverTrigger: false});
      });

      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems, {edge: 'left',
      draggable: true});
      });
    </script>
  </body>
</html>