{% extends 'base.html' %} {% block content %}
<h1>Display Your Work</h1>
<div>
    <h2>car models</h2>
    <img src="https://i.imgur.com/Uox7Uxl.jpg" alt="" class='home card'>
</div>
<div>
    <h2>Whole cities
    </h2>
    <img src="https://i.imgur.com/22ZGubK.jpg" alt="" class='home card'>
    <h3>as detailed as you want</h3>
    <img src="https://i.imgur.com/nejGH0s.jpg" alt="" class='home card'>
</div>
<div>
    <h2>And other models</h2>
    <img src="https://i.imgur.com/We8uFVm.jpg" alt="" class='home card'>
</div>
<h2>Preview projects Created</h2>
<div class="carousel carousel-slider center">
    {% for car in cars %}
    <a class="carousel-item" href="{% url 'car_detail' car.id %}"><img src="{{car.photo_url}}" alt=""/></a>
    {% endfor %} 
    {% for character in characters %}
    <a class="carousel-item" href="{% url 'character_detail' character.id %}"><img src="{{character.photo_url}}" alt=""/></a>
    {% endfor %}
    {% for environment in environments %}
    <a class="carousel-item" href="{% url 'environment_detail' environment.id %}"><img src="{{environment.photo_url}}" alt=""/></a>
    {% endfor %}
</div>




<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.carousel');
        var instances = M.Carousel.init(elems, {duration: 200});
      });
</script>
 {% endblock %}