{% extends 'base.html' %} {% block content %}
<h1>Display Your Work</h1>
<div>
    <h2>car models</h2>
    <img src="https://i.imgur.com/Uox7Uxl.jpg" alt="" class='home card'>
</div>
<div>
    <h2>Whole cities
    </h2>
    <img src="https://i.imgur.com/22ZGubK.jpg" alt="" class='home card'>
    <h3>as detailed as you want</h3>
    <img src="https://i.imgur.com/nejGH0s.jpg" alt="" class='home card'>
</div>
<div>
    <h2>And other models</h2>
    <img src="https://i.imgur.com/We8uFVm.jpg" alt="" class='home card'>
</div>


 {% endblock %}