body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
    color: goldenrod;
  }
  
nav, footer{
    background-color: goldenrod;
}

main {
  flex: 1 0 auto;
} 
nav>a {
  text-shadow: 1px, 1px, 1px, navy;
}

span {
  color: goldenrod;
}
  
.page-footer {
  padding-top: 0;
  text-align: right;
  background-color: goldenrod;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.collapsible-header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 7rem;
}

p {
  text-align: center;
  font-size: larger;
}

@media only screen and (min-width: 993px){
  nav a.sidenav-trigger {
    display: flex;
    align-items: center;
    justify-content: center;
}
}


.home{
  width: 100vh;
}

.datepicker-date-display {
  background-color: black;
}