{% extends 'base.html' %} {% block content %}



<div class="row project">
    <div class='card'>
        <div class='card-content'>
                <span class="card-title"><h1> {{project.name}} </h1></span>
                <h3>date Created: {{project.date}}</h3>
                <h5>Styling/purpose: {{project.purpose}}</h5>

                <div class="card-action">
                    <a href="">Edit</a>
                    <a href="">Delete</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <form action="{% url 'add_editting' project.id %}">
            {% csrf_token %} 
            {{editting_form.as_p}}
            <input type="submit" value="Editted" class="btn goldenrod">
        </form>
    </div>
</div>

<h2>Assets in {{project.name}}'s project</h2>
<div class="row car">
    <div class="col s6 c">
        {% if project.cars.count %}
        <ul class="collapsible popout">
            <li>
                <div class="collapsible-header"><h5>Cars used</h5></div>
                {% for car in project.cars.all %}
                <div class="collapsible-body">
                    <a href="{% url 'car_detail' car.id %}">
                    <div class='card-content'>
                        <span class="card-title">
                            {{car.name}} 
                        </span>
                    </div></a>
                    <div class="card-action">
                        <form action="{% url 'disassoc_car' project.id car.id %}" method="'POST">
                            {% csrf_token %}
                            <button type="submit" class="btn">Remove</button></form>
                    </div>
                </div>
                {% endfor %}
            </li>
         </ul>
        {% else %}
        <div class="collapsible-header card">
                <h5>There aren't any cars in {{project.name}}</h5>
        </div>
        {% endif %}
    </div>
    <div class="col s6 c">
        <ul class="collapsible popout">
            <li>
              <div class="collapsible-header"><h5>Avialable Cars</h5></div>
                {% if cars.count %} 
                {% for car in cars.all %}
                <div class="collapsible-body">
                    <a href="{% url 'car_detail' car.id %}">
                    <div class="card-content ">
                        <h6 class="card-title">
                            {{car.name}}
                        </h6>
                    </div></a>
                    <div class="card-action">
                        <form action="{% url 'assoc_car' project.id car.id %}" method="'POST">
                            {% csrf_token %}
                            <button type="submit" class="btn">ADD</button>
                        </form>
                    </div>
                </div>
            {% endfor %} {% endif %}
            </li>
        </ul>
    </div>
</div>

<div class="row environment">
    <div class="col s6 c">
        {% if project.environments.count %}
        <ul class="collapsible popout">
            <li>
                <div class="collapsible-header"><h5>Environments used</h5></div>
                {% for environment in project.environments.all %}
                <div class="collapsible-body">
                    <a href="{% url 'environment_detail' environment.id %}">
                    <div class='card-content'>
                        <span class="card-title">
                            {{environment.name}} 
                        </span>
                    </div></a>
                    <div class="card-action">
                        <form action="{% url 'disassoc_environment' project.id environment.id %}" method="'POST">
                            {% csrf_token %}
                            <button type="submit" class="btn">Remove</button></form>
                    </div>
                </div>
                {% endfor %}
            </li>
         </ul>
        {% else %}
        <div class="collapsible-header card">
                <h5>There aren't any environments used in {{project.name}}</h5>
        </div>
        {% endif %}
    </div>
    <div class="col s6 c">
        <ul class="collapsible popout">
            <li>
                <div class="collapsible-header"><h5>Available Environments
                </h5></div>
                {% if environments.count %} 
                {% for environment in environments.all %}
                <div class="collapsible-body row">
                    <a href="">
                        <div class="card-content col s6">
                            <h6 class="card-title">{{environment.name}}</h6>
                        </div>
                    </a>
                <div class="card-action col s6">
                    <form action="{% url 'assoc_environment' project.id environment.id %}" method="'POST">
                        {% csrf_token %}
                        <button type="submit" class="btn">ADD</button>
                    </form>
                </div>
            </div>
            {% endfor %} {% endif %}                
            </li>
        </ul>
    </div>
</div>

<div class="row character">
    <div class="col s6 c">
        {% if project.characters.count %}
        <ul class="collapsible popout">
            <li>
                <div class="collapsible-header"><h5>Environments used</h5></div>
                {% for character in project.characters.all %}
                <div class="collapsible-body">
                    <a href="{% url 'character_detail' character.id %}">
                    <div class='card-content'>
                        <span class="card-title">
                            {{character.name}} 
                        </span>
                    </div></a>
                    <div class="card-action">
                        <form action="{% url 'disassoc_character' project.id character.id %}" method="'POST">
                            {% csrf_token %}
                            <button type="submit" class="btn">Remove</button></form>
                    </div>
                </div>
                {% endfor %}
            </li>
         </ul>
        {% else %}
        <div class="collapsible-header card">
                <h5>There aren't any characters used in {{project.name}}</h5>
        </div>
        {% endif %}
    </div>
    <div class="col s6 c">
        <ul class="collapsible popout">
            <li>
                <div class="collapsible-header"><h5>Available Environments
                </h5></div>
                {% if characters.count %} 
                {% for character in characters.all %}
                <div class="collapsible-body row">
                    <a href="">
                        <div class="card-content col s6">
                            <h6 class="card-title">{{character.name}}</h6>
                        </div>
                    </a>
                <div class="card-action col s6">
                    <form action="{% url 'assoc_character' project.id character.id %}" method="'POST">
                        {% csrf_token %}
                        <button type="submit" class="btn">ADD</button>
                    </form>
                </div>
            </div>
            {% endfor %} {% endif %}                
            </li>
        </ul>
    </div>
</div>

<script>
    const dateEl = document.getElementById('id_date')
M.Datepicker.init(dateEl, {
    defaultDate: new Date(),
    setDefaultDate: true,
    AutoClose: true,
})

document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems, {accordion: true});
  });
</script>

{% endblock %}

