{% extends 'base.html' %} {% block content %}



<div class="row project">
    <div class='card'>
        <div class='card-content'>
                <span class="card-title"><h1> {{project.name}} </h1></span>
                <p>date Created: {{project.date}}</p>
                <div class="card-action">
                    <a href="">Edit</a>
                    <a href="">Delete</a>
                </div>
            </div>
        </div>
    <div class="row">
        <form action="{% url 'add_editting' project.id %}">
            {% csrf_token %} 
            {{editting_form.as_p}}
            <input type="submit" value="Editted" class="btn goldenrod">
        </form>
    </div>
</div>

<h2>Assets in {{project.name}}'s project</h2>
<div class="row car">
    <div class="col s6">
        {% if project.cars.count %}
        <ul class="collapsible popout">
            <li>
                <div class="collapsible-header"><h5>Avialable Cars</h5></div>
            {% for car in project.cars.all %}
                <div class="collapsible-body row">
                    <a href="{% url 'car_detail' car.id %}">
                    <div class='card-content col s6'>
                        <span class="card-title">
                            {{car.name}} 
                        </span>
                    </div></a>
                    <div class="card-action col s6">
                        <form action="{% url 'disassoc_car' project.id car.id %}" method="'POST">
                            {% csrf_token %}
                            <button type="submit" class="btn">Remove</button></form>
                    </div>
                </div>
                {% endfor %}
            </li>
         </ul>
        {% else %}
        <div class="collapsible card">
                <h5>There aren't any cars in {{project.name}}</h5>
        </div>
        {% endif %}
    </div>
    <div class="col s6">
        <ul class="collapsible popout">
            <li>
              <div class="collapsible-header"><h5>Avialable Cars</h5></div>
            {% if cars.count %} 
            {% for car in cars.all %}
            <div class="collapsible-body row">
                <a href="{% url 'car_detail' car.id %}">
                <div class="card-content col s6">
                    <h6 class="card-title">
                        {{car.name}}
                    </h6>
                </div></a>
                <div class="card-action col s6">
                    <form action="{% url 'assoc_car' project.id car.id %}" method="'POST">
                        {% csrf_token %}
                        <button type="submit" class="btn">ADD</button>
                    </form>
                </div>
            </div>
            {% endfor %} {% endif %}
            </li>
        </ul>
    </div>
</div>
<div class="row environment">
    <li>
        <div class="collapsible-header"><h5>Avialable environment
        </h5></div>
        {% if environments.count %} 
        {% for environment in environments.all %}
        <div class="collapsible-body row">
            <a href="">
                <div class="card-content col s6">
                    <h6 class="card-title">
                    {{environment.name}}
                    </h6>
                 </div>
            </a>
        <div class="card-action col s6">
            <form action="" method="'POST">
                {% csrf_token %}
                <button type="submit" class="btn">ADD</button>
            </form>
        </div>
    </div>
    {% endfor %} {% endif %}                
    </li>
</div>


<script>
    const dateEl = document.getElementById('id_date')
M.Datepicker.init(dateEl, {
    defaultDate: new Date(),
    setDefaultDate: true,
    AutoClose: true,
})

document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems, {accordion: true});
  });
</script>

{% endblock %}